<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Корзина</title>
</head>
<body>
    <header>
        <h1>Корзина</h1>
        <nav>
            <ul>
                <li><a href="index.html">Главная</a></li>
                <li><a href="menu.html">Меню</a></li>
                <li><a href="reviews.html">Отзывы</a></li>
                <li><a href="../../../../../Users/kymba/OneDrive/Рабочий%20стол/qazwsx/register.html">Регистрация</a></li>
                <li><a href="cart.html">Корзина</a></li>
                <li><a href="locations.html">Филиалы</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <h2>Ваши товары</h2>
        <ul>
            <li>Бургер - 500 тг</li>
            <li>Картошка фри - 300 тг</li>
        </ul>
        <h3>Итого: 800 тг</h3>
        <button>Оформить заказ</button>
    </main>
    
    <footer>
        <p>&copy; 2024 Фастфуд Ресторан</p>
    </footer>
</body>
</html>
