<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link href="../static/main.css" rel="stylesheet" />
    <title>Токпокки</title>
</head>
<body>
<div class="container">
    <div class="background-1"></div>
    <div class="background-2"></div>
    <div class="background-3"></div>

    <div class="header">
        <span class="title">ТОКПОККИ</span>
        <span class="price">ОТ 2500 ₸</span>
    </div>

    <div class="contact-info">
        <span class="phone">8-700-000-58-71</span>
        <span class="order">ЗАКАЗАТЬ</span>
    </div>

    <div class="icon-1"></div>
    <div class="icon-2"></div>
    <div class="icon-3"></div>
</div>
</body>
</html>
