<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link href="../static/main.css" rel="stylesheet" />
    <title>Токпокки</title>
</head>
<body>
<div class="v82_22">
    <div class="v82_24"></div>
    <div class="v82_27"></div>
    <div class="v82_31"></div>
    <div class="v82_33"></div>
    <div class="v82_34"></div>
    <span class="v82_39">ТОКПОККИ</span>
    <span class="v82_41">ОТ 2500 ₸</span>
    <div class="v82_59"></div>
    <div class="v82_62"></div>
    <div class="v82_65"></div>
    <span class="v82_67">8-700-000-58-71</span>
    <div class="v82_72"></div>
    <div class="v82_75"></div>
    <span class="v82_77">ЗАКАЗАТЬ</span>
    <div class="v82_80"></div>
</div>
</body>
</html>

