<!DOCTYPE html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link href="../static/menu.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
<div class="v82_213">
    <div class="v82_228"></div>
    <div class="v82_214">
        <div class="v82_215"></div>
        <div class="v82_216">
            <div class="v82_217"></div>
            <div class="v82_231"></div>
        </div>
        <span class="v82_219">РАМЕН ИЗ СОБАКИ</span>
        <span class="v82_220">14-20 минуты</span>
        <span class="v82_221">2500 тенге</span>
        <span class="v82_319">ПОПУЛЯРНО!</span>
        <div class="v82_222">
            <div class="v82_223"></div>
            <div class="v82_224">
                <div class="name"></div>
                <div class="name"></div>
            </div>
        </div>
    </div>

    <div class="v82_303">
        <div class="v82_304"></div>
        <div class="v82_305">
            <div class="v82_306"></div>
            <div class="v82_325"></div>
        </div>
        <span class="v82_308">Кэджан-гук</span>
        <span class="v82_309">14-20 минуты</span>
        <span class="v82_310">2500 тенге</span>
        <div class="v82_311">
            <div class="v82_312"></div>
            <div class="v82_313">
                <div class="name"></div>
                <div class="name"></div>
            </div>
        </div>
    </div>

    <div class="v82_289">
        <div class="v82_290"></div>
        <div class="v82_291">
            <div class="v82_292"></div>
            <div class="v82_322"></div>
        </div>
        <span class="v82_294">ТОК - ПОККИ</span>
        <span class="v82_295">14-20 минуты</span>
        <span class="v82_296">2500 тенге</span>
        <div class="v82_297">
            <div class="v82_298"></div>
            <div class="v82_299">
                <div class="name"></div>
                <div class="name"></div>
            </div>
        </div>
    </div>

    <div class="v82_275">
        <div class="v82_276"></div>
        <div class="v82_277">
            <div class="v82_278"></div>
            <div class="v82_317"></div>
        </div>
        <span class="v82_280">КИМПАБ</span>
        <span class="v82_281">14-20 минуты</span>
        <span class="v82_282">1200 тенге</span>
        <div class="v82_283">
            <div class="v82_284"></div>
            <div class="v82_285">
                <div class="name"></div>
                <div class="name"></div>
            </div>
        </div>
    </div>

    <span class="v82_327">РЕКОМЕНДУЕМ</span>
    <div class="v82_329"></div>
    <div class="v82_349"></div>
    <div class="v82_347"></div>
    <span class="v82_351">КОРЗИНА</span>
</div>
</body>
