<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Меню</title>
</head>
<body>
    <header>
        <h1>Меню</h1>
        <nav>
            <ul>
                <li><a href="index.html">Главная</a></li>
                <li><a href="menu.html">Меню</a></li>
                <li><a href="reviews.html">Отзывы</a></li>
                <li><a href="../../../../../Users/kymba/OneDrive/Рабочий%20стол/qazwsx/register.html">Регистрация</a></li>
                <li><a href="cart.html">Корзина</a></li>
                <li><a href="locations.html">Филиалы</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <h2>Наши блюда</h2>
        <ul>
            <li>
                <h3>Бургер</h3>
                <img src="https://www.kfc.com/assets/images/menu-burger.jpg" alt="Бургер">
                <p>Описание бургера.</p>
            </li>
            <li>
                <h3>Картошка фри</h3>
                <img src="https://www.kfc.com/assets/images/menu-fries.jpg" alt="Картошка фри">
                <p>Описание картошки фри.</p>
            </li>
        </ul>
    </main>
    
    <footer>
        <p>&copy; 2024 Фастфуд Ресторан</p>
    </footer>
</body>
</html>
