body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://bogatyr.club/uploads/posts/2021-11/1636959260_1-bogatyr-club-p-fon-dlya-fast-fuda-1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0); /* Начальный прозрачный фон */
    z-index: 1000;
    transition: background-color 0.3s ease; /* Плавный переход */
}

header.scrolled {
    background-color: rgba(255, 255, 255, 1); /* Непрозрачный фон при скролле */
    color: #000; /* Цвет текста */
}

#orderNow, #profileIcon button {
    background-color: #d9534f; /* Красный цвет фона */
    color: white;
    border: none;
    padding: 10px 15px; /* Увеличиваем отступы */
    border-radius: 5px; /* Закругленные углы */
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.2s; /* Плавный переход */
}

#orderNow:hover, #profileIcon button:hover {
    background-color: #c9302c; /* Темнее красный при наведении */
    transform: translateY(-2px); /* Легкий подъем при наведении */
}


.logo img {
    height: 50px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #000;
}

nav ul li button:hover {
    text-decoration: underline;
}

.container {
    text-align: center;
    padding: 100px 20px 50px; /* Увеличиваем верхний отступ для учёта фиксированного header */
}

.container h1, 
.container h2, 
.container p {
    color: white; /* Белый цвет текста */
}

.form-container { 
    margin-top: 20px;
    background-color: #ccc; /* Цвет фона для формы */
    padding: 20px; /* Добавим отступы для формы */
    border-radius: 5px; /* Закругленные углы */
}


label {
    display: block;
    margin: 10px 0 5px;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

button[type="submit"]:hover {
    background-color: #218838;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
